<div class="container">
	<div class="row text-center">
		<h1><div class="main-header">Your Name <span class="destaque">Here</span></div></h1>
        <img src="../img/male.png" class="img-circle" alt="Male" width="150" height="150">
	</div>


    <div class="row text-center" style=" margin-top:10px; margin-bottom:20px;">
        <label class="btn btn-success" for="my-file-selector">
            <input id="my-file-selector" type="file" style="display:none"
            onchange="$('#upload-file-info').html(this.files[0].name)">
            File
        </label>
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    <div class="row text-center" style=" margin-top:10px; margin-bottom:20px;">
        <label class="btn btn-danger" for="my-file-reset">
            <input id="my-file-reset" type="file" style="display:none">
            Reset
        </label>
    </div>



    <div class="col-md-4">

	    <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-check fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><h1>4</h1></p>
                <p class="announcement-text">Correct</p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  View
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>

	</div>




	<div class="col-md-4">

	    <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-times fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><h1>10</h1></p>
                <p class="announcement-text">Review</p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  Details
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>

	</div>



	<div class="col-md-4">

	    <div class="panel panel-warning">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-refresh fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><h1>33</h1></p>
                <p class="announcement-text">Not Attempted</p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  Details
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>

	</div>



</div>
