<div class="jumbotron text-center">
  <h1 class="display-3">Verbatim</h1>
  <h3 class="display-2">Google Home's Vocabulary Assistant!</h1>

  <p class="lead">A simple way to learn your vocabulary words: whether its for GRE, SAT, or just your class assignment!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#/login" role="button">Login and Register</a>
  </p>
</div>
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i>Login and Register</h3>
                <p>First Login and Register.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Set up</h3>
                <p>Upload your words as a .txt file</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Test and Learn!</h3>
                <p> Activate your Google Home and let it quiz you from words you've selected! You can track your progress online!</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
